.lifecycle{
    margin-left: 400px;
}
.lifecycle p{
    margin-left: 200px;
}

.lifecycle button{
    margin-left: 160px;
    background-color: #2f80ed;
    border-radius: 10px;
    border-style: none;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    color: white;
    cursor: pointer;
}
.lifecycle button:hover {
    background-color: #1366d6;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}